<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список машин</title>
</head>
<body>
<h2>Список автомобилей</h2>

<table border="1">
    <thead>
    <tr>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Год выпуска</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car :${cars}">
        <td th:text="${car.getModel()}"></td>
        <td th:text="${car.getColor()}"></td>
        <td th:text="${car.getYear()}"></td>
    </tr>
    </tbody>


</table>


</body>
</html>